language: emacs-lisp

env:
  - EMACS=emacs25

install:
  - if [ "$EMACS" = 'emacs25' ]; then
      sudo add-apt-repository -y ppa:kelleyk/emacs &&
      sudo apt-get -qq update &&
      sudo apt-get -qq -f install &&
      sudo apt-get -qq install emacs25 emacs25-el;
    fi

# run the tests
script:
  - NO_CHECK_EMACS_PACKAGES=1 /bin/bash ./autogen.sh EMACS=/usr/bin/emacs25 && cd test && make check-elget
